a:hover {
  text-decoration: none;
}

#sidebar {
  margin-left: 0;
}

#content {
  margin-left: 0;
}

h1.title a {
  color: #000;
}

.help {
  font-size: 120%;
  padding-top: 10px;
}

.centered {
  text-align: center;
}

.sticky {
  position: fixed;
  width: 200px;
  top: 5px;
}

input {
  width: 187px;
}
